@{
    ViewBag.Title = "联系我们";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section header{
    <link href="~/Content/member/css/layui.css" rel="stylesheet" />
    <style>
.site-doc-color{font-size: 0;}
.site-doc-color li{display: inline-block; vertical-align: middle; width: 30%; margin-left: 20px; margin-bottom: 20px; padding: 20px 10px; color: #fff; text-align: center; border-radius: 2px; line-height: 22px; font-size: 14px;}
.site-doc-color li p[tips]{opacity: 0.8; font-size: 12px;}
.site-doc-necolor li{width: 108px; margin-top: 15px; margin-left: 0; border-radius: 0;}
</style>
}
<br />
<div class="container">
    <div class="site-content">

        <blockquote class="layui-elem-quote">联系我们</blockquote>
        <br />
        <ul class="site-doc-color">
            <li style="background-color: #F7B824;">
                <p>官方邮箱</p>
                <p>
                </p>
                <p tips="">liujiaxioo@163.com</p>
            </li>
            <li style="background-color: #FF5722;">
                <p>官方QQ</p>
                <p>
                </p>
                <p tips="">897506077</p>
            </li>
            <li style="background-color: #01AAED;">
                <p>官方地址</p>
                <p>
                </p>
                <p tips="">广东省中山市</p>
            </li>
        </ul>
    </div>
</div>
